<nav id="navbar">
  <img src="assets/images/InconV1png.png" id="logo" alt="Logo">
  <div id="nav-page-container">
    <a class="link" (click)="toggleMenu()" routerLink="home">Home</a>
    <a class="link" (click)="toggleMenu()" routerLink="admin/drinks">Drinks</a>
    <a class="link" (click)="toggleMenu()" routerLink="admin/ingredients">Ingredients</a>
    <a class="link" (click)="toggleMenu()" routerLink="admin/statistics">Statistics</a>
  </div>
</nav>
<router-outlet></router-outlet>

<app-order-custom-drink-modal id="order-custom-drink-modal" [hidden]="displayedModal() != 'ODC'"></app-order-custom-drink-modal>

<app-order-drink-modal id="order-drink-modal" [hidden]="displayedModal() != 'OD'"></app-order-drink-modal>
