/*Nav bar*/
#navbar {
  display:flex;
  align-items: center;
  background: #0e2d3e;
  color: white;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.35));
  z-index: 3;
  position: sticky;
  padding: 10px;
  gap: 20px;
}

#logo {
  height: 70px;
}

.link{
  font-size: 32px;
  font-family: JosefinSans,sans-serif;
  text-decoration: none;
  color: #fefde6;
  font-weight: lighter;
}

.link:nth-child(1){
  font-size: 64px;
  font-weight: bold;
  font-family: Katibeh,sans-serif;
  color: #ef7f84;
  margin-top: -32px;
}

#nav-page-container{
  display: flex;
  gap: 20px;
  align-items: center;
}
