<nav id="navbar" [ngClass]="{open: menuOpen, home: isAtHomeScreen()}" #navbar>
  <button id="menu-toggle" (click)="toggleMenu()">☰</button>
  <img src="assets/images/InconV2png.png" id="logo" alt="Logo" routerLink="home">
  <div id="nav-page-container" [ngClass]="{open: menuOpen}">
    <a class="bigLink" routerLink="home">
      Home
    </a>
    <a class="link" [ngClass]="{light: !menuOpen}"
       *ngIf="userService.hasRole('admin')"
       routerLink="drinks"
       routerLinkActive="active">
      Drinks
    </a>
    <a class="link" [ngClass]="{light: !menuOpen}"
       *ngIf="userService.hasRole('admin')"
       routerLink="ingredients"
       routerLinkActive="active">
      Ingredients
    </a>

    <a class="link" [ngClass]="{light: !menuOpen}"
       *ngIf="userService.hasRole('admin')"
       routerLink="statistics"
       routerLinkActive="active">
      Statistics
    </a>
    <a class="link" [ngClass]="{light: !menuOpen}"
       *ngIf="userService.hasRole('operator')"
       routerLink="orders"
       routerLinkActive="active">
      Orders
    </a>
    <a class="link" [ngClass]="{light: !menuOpen}"
       *ngIf="userService.hasRole('admin')"
       routerLink="users"
       routerLinkActive="active">
      Users
    </a>
  </div>
  <div id="account-toggle" [ngClass]="{light: !menuOpen}" (click)="userInitials() ? openAccountModal() : openLoginModal()">
  @if(userInitials()) {
    <p class="noselect">{{userInitials()}}</p>
  } @else {
    <p>🦩</p>
  }
  </div>
</nav>

<app-background-leaves>
  <router-outlet></router-outlet>
  <app-order-custom-drink-modal *ngIf="displayedModal() === ModalType.CustomOrder" id="order-custom-drink-modal"></app-order-custom-drink-modal>
  <app-order-drink-modal *ngIf="displayedModal() === ModalType.Order" id="order-drink-modal"></app-order-drink-modal>
  <app-drink-modal *ngIf="displayedModal()===ModalType.AddDrink || displayedModal()===ModalType.EditDrink" id="drink-modal"></app-drink-modal>
  <app-user-modal *ngIf="displayedModal()===ModalType.User" id="user-modal"></app-user-modal>
  <app-status-modal *ngIf="displayedModal()===ModalType.Status" id="status-modal"></app-status-modal>
  <app-account-modal *ngIf="displayedModal()===ModalType.Account" id="account-modal"></app-account-modal>
</app-background-leaves>

<app-loading-spinner></app-loading-spinner>
