<dialog
  #dialog
  class="modal-dialog"
  [class]="'modal-dialog ' + sizeClass"
  (cancel)="onDialogCancel($event)"
  (click)="onDialogClick($event)">
  <div class="modal-card">
    <header class="modal-head">
      <div class="modal-headline">
        <span *ngIf="icon" class="modal-icon" [attr.data-icon]="icon"></span>
        <div class="modal-titles">
          <p class="modal-subtitle" *ngIf="subtitle">{{ subtitle }}</p>
          <h1>{{ title }}</h1>
        </div>
      </div>
      <button class="close-modal-button" type="button" (click)="requestClose()" aria-label="Close dialog">✖</button>
    </header>

    <section class="modal-body">
      <ng-container *ngIf="bodyTemplate; else projectedBody"
                    [ngTemplateOutlet]="bodyTemplate"
                    [ngTemplateOutletContext]="{ data: data, close: requestClose.bind(this) }">
      </ng-container>
      <ng-template #projectedBody>
        <ng-content select="[modal-body]"></ng-content>
      </ng-template>
    </section>

    <footer class="modal-footer" *ngIf="hasFooterContent">
      <ng-container *ngIf="footerTemplate; else projectedFooter"
                    [ngTemplateOutlet]="footerTemplate"
                    [ngTemplateOutletContext]="{ data: data, close: requestClose.bind(this) }">
      </ng-container>
      <ng-template #projectedFooter>
        <ng-content select="[modal-footer]"></ng-content>
        <div class="modal-buttons" *ngIf="footerButtons.length > 0 || (projectedButtons?.length ?? 0) > 0">
          <ng-content select="[modal-buttons]"></ng-content>
          <button
            *ngFor="let btn of footerButtons"
            class="button"
            [ngClass]="btn.variant ?? 'secondary'"
            type="button"
            (click)="handleButtonClick(btn)">
            {{ btn.label }}
          </button>
        </div>
      </ng-template>
    </footer>
  </div>
</dialog>
