<div class="modal-frame">
  <div
    class="modal-form"
    [class.modal-form--small]="size() === 'small'"
    [class.modal-form--medium]="size() === 'medium'"
    [class.modal-form--large]="size() === 'large'"
  >
    <div class="modal-head">
      <h1>{{ title() }}</h1>
      <button type="button" class="close-modal-button" (click)="close()" aria-label="Close modal"></button>
    </div>
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
    <div class="modal-buttons">
      <ng-content select="[modal-buttons]"></ng-content>
      @for (btn of buttons(); track btn.label) {
        <button class="button" (click)="btn.action()">{{ btn.label }}</button>
      }
    </div>
  </div>
</div>
