<div class="modal-frame">
  <div
    class="modal-form"
    role="dialog"
    aria-modal="true"
    [attr.aria-label]="title()"
    [class.modal-size-small]="isSmall()"
    [class.modal-size-medium]="isMedium()"
    [class.modal-size-large]="isLarge()"
  >
    <div class="modal-head">
      <h1>{{ title() }}</h1>
      <button class="close-modal-button" type="button" (click)="close()" aria-label="Close modal">
      </button>
    </div>
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
    <div class="modal-buttons">
      <ng-content select="[modal-buttons]"></ng-content>
      @for (btn of buttons(); track btn) {
        <button class="button" type="button" (click)="btn.action()">{{ btn.label }}</button>
      }
    </div>
  </div>
</div>
