<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="landing">
  <img alt="Leaves" src="assets/images/sideLeafsLeft.png" class="leaves">
  <img alt="Leaves" src="assets/images/sideLeafs.png" class="leaves">
  <div id="stars"></div>
  <div id="landing-text">
    <div id="landing-title">
      Make your perfect<br>summer drinks<br> with Hula Swirl!
    </div>
    <div id="landing-subtitle">
      Mix it easy, mix it smart, mix it fast,<br> ideal for every moment
    </div>
    <div id="button-container">
      <button (click)="scrollToElement()" class="button" id="order-button">ORDER NOW</button>
      <button (click)="openModal(ModalType.ODC)" class="button" id="order-custom-button">ORDER CUSTOM DRINK</button>
    </div>
  </div>
  <img alt="Drink" src="assets/images/DrinkImage.png" id="drink-showcase">
</div>

<div id="recommendations" #targetElement>
  <h2>Our recommendations</h2>
  <div id="slide-container">
      <button class="slide-track-arrow" id="arrow-left" (click)="K_prevSlide()" [disabled]="K_isPrevDisabled()" [class.disabled]="K_isPrevDisabled()">&#8249;</button>
      <div id="slide-track">
        @for (drink of K_bestDrinks(); track $index) {
          <div class="slide-track-item"
               (click)="openModal(ModalType.OD, drink)"
               [class.slide-focus]="K_getSlidePosition($index) === 'center'"
               [class.slide-neighbour]="K_getSlidePosition($index) === 'side'"
               [class.hidden]="K_getSlidePosition($index) === 'hidden'">
            <div class="slide-image-container">
              <img src="{{drink.img}}" alt="{{drink.name}}">
            </div>
            <p>{{ drink.name }}</p>
          </div>
        }
      </div>
      <button class="slide-track-arrow" id="arrow-right" (click)="K_nextSlide()" [disabled]="K_isNextDisabled()" [class.disabled]="K_isNextDisabled()">&#8250;</button>
  </div>
</div>

  <p class="Lable" >All Drinks</p>
  <div class="D_Container">
    <div class="D_DrinksFilterSearchContainer">
      <div class="D_FilterSearchWrapper">
        <button class="D_CustomOrderBtn" (click)="openModal(ModalType.ODC)">Order Custom Drink</button>
        <!-- Suchfeld für Getränkenamen -->
        <input
          type="text"
          placeholder="🔍 Search for a drink..."
          [(ngModel)]="searchQuery"
          (input)="D_searchDrinks()"
          class="D_SearchInput"
        />

        <!-- Dropdown für Zutatenfilter -->
        <select [(ngModel)]="selectedIngredient" (change)="D_filterDrinks()" class="D_FilterDropdown">
          <option value="">All Ingredients</option>
          <option *ngFor="let ingredient of D_getUniqueIngredients()" [value]="ingredient">{{ ingredient }}</option>
        </select>
      </div>
    </div>

    <!-- Getränkekarten -->
    <div class="D_DrinksContainer">
      <div class="D_Drink" (click)="openModal(ModalType.OD, drink)" *ngFor="let drink of filteredDrinks()">
        <div class="D_imgContainer">
          <img class="D_img" [src]="drink.img" [alt]="drink.name">
        </div>
        <p class="D_DrinkText">{{ drink.name }}</p>
      </div>
    </div>
  </div>
