<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Order Custom Drink Panel -->
<div *ngIf="C_isModalOpen" class="C_modal" (click)="C_onOverlayClick($event)">
  <div class="C_modal-content">
    <span class="C_close" (click)="C_closeModal()">&times;</span>
    <p>Configure Your own Drink</p>
    <div class="C_ingredientContainer">
      @for (ingredient of C_newIngredients();track ingredient;let idx = $index){
        <div class="C_singleIngredient">
          <div class="C_ingredientInfo">
            <textarea class="C_liquidInput" [(ngModel)]="C_newIngredients()[idx].remainingMl"></textarea>
            <p>cl    {{ingredient.name}}</p>
          </div>
          <i style="font-size:20px" class="fa" (click)="C_removeIngredientFromCustomOrderList(idx)">&#xf014;</i>
        </div>
      }
      <div class="C_singleIngredient C_newIngredient">
        <div class="C_newIngredientLiquid">
          <div class="C_newInputCircle" (click)="C_addIngredientToCustomOderList()">
            <p class="C_addNewIngredient">+</p>
          </div>
          <textarea class="C_liquidInput C_newLiquidInput" [(ngModel)]="C_newLiquidAmount"></textarea>
          <p>cl</p>
          <form>
          <select id="C_newIngredient" class="C_newIngredient_Selection"  (change)="C_updateNewIngredientName($event)">
            <option class="C_newIngredientOption" value="Choose Ingredient">Choose Ingredient</option>
            @for (ingredient of allAvailableIngredients();track ingredient){
              <option class="C_newIngredientOption" value="{{ingredient.name}}">{{ingredient.name}}</option>
            }
          </select>
        </form>
        </div>

      </div>
    </div>
    <div class="C_orderbuttons">
      <div class="C_button C_buttonCancel" (click)="C_cancel()">Cancel</div>
      <div class="C_button C_buttonOrder" (click)="C_Order()">Order</div>
    </div>
  </div>
</div>

<!-- G_Modal - Order Drink Panel -->
<div *ngIf="G_isModalOpen()" class="G_modal" (click)="G_onOverlayClick($event)">
  <div class="G_modal-content">
    <span class="G_close" (click)="G_closeModal()">&times;</span>
    <div class="G_modal_bigbox">
      <div class="G_moadal_left">
        <div class="G_imagecontainer">
          <img [src]="G_selectedDrink().img" alt="Drink Image" class="G_drinkImage">
        </div>
        <h3 class="G_toppingsTitle">Toppings:</h3>
        <p class="G_Toppings">{{ G_selectedDrink().toppings }}</p>
      </div>
      <div class="G_moadal_right">
        <div class="G_drinkInfo">
          <h2 class="G_drinkName">{{ G_selectedDrink().name }}</h2>
          <ul class="G_ingredientsList" *ngFor="let drink of G_selectedDrink().ingredients">
            <li > {{ drink.name }}</li>
          </ul>
        </div>
        <button class=" C_button C_buttonOrder G_orderbutton" >Order</button>
      </div>
    </div>

    <!--<div class="G_drinkDetails">

      <div class="G_drinkInfo">
        <ul class="G_ingredientsList" *ngFor="let drink of G_selectedDrink().ingredients">
          <li > {{ drink.name }}</li>
        </ul>
      </div>
      <button class=" C_button C_buttonOrder" >Order</button>
    </div>-->

  </div>
</div>
<!--Header-->
<div class="H_Header">
  <img src="assets/images/sideLeafsLeft.png" class="H_Leaves">
  <div class="H_left">
    <img src="assets/images/H_Iconpng.png" alt="Drink" height="120" width="400" class="H_ICON">
    <div class="H_motto">
      Make your perfect<br>summer drinks<br> with Hula Swirl!
    </div>
    <div class = "H_miniMotto">
      Mix it easy, mix it smart, mix it fast,<br> ideal for every moment
    </div>
    <button (click)="scrollToElement()" class ="button H_headerButton2">ORDER NOW</button>
    <button (click)="C_openModal()" class ="button H_headerButton">ORDER CUSTOM DRINK</button>
  </div>
  <div class="H_imageSeperation">
    <img src="assets/images/DrinkImage.png" alt="Drink"  class="H_dringImage">
  </div>
  <img src="assets/images/sideLeafs.png" class="H_Leaves" >
</div>

<div class="bodyBackground" #targetElement>
  <div class="backgroundWrapper"></div>
  <!--Karusell-->
  <p class="Lable K_Lable" >Our recommendations</p>
  <div class="K_KarusellContainer">
  <div class="K_carousel">
    <button class="K_arrow left" (click)="K_prevSlide()" [disabled]="K_isPrevDisabled()" [class.disabled]="K_isPrevDisabled()">&#8249;</button>
    <div class="K_carousel-track">
      <div class="K_carousel-item" (click)="G_openModal(drink)" *ngFor="let drink of K_bestDrinks(); let i = index" [class.center]="K_getSlidePosition(i) === 'center'" [class.side]="K_getSlidePosition(i) === 'side'" [class.hidden]="K_getSlidePosition(i) === 'hidden'">
        <img [src]="drink.img" [alt]="drink.name">
        <p>{{ drink.name }}</p>
      </div>
    </div>
    <button class="K_arrow right" (click)="K_nextSlide()" [disabled]="K_isNextDisabled()" [class.disabled]="K_isNextDisabled()">&#8250;</button>
  </div>
</div>


  <!--<img src="assets/images/Order_Custom_Drink_button.webp" class="O_Button">-->
  <br><br><br><br><br>
  <!--Alll Drinks-->
  <p class="Lable" >All Drinks</p>
  <div class="D_Container">
    <div class="D_DrinksFilterSearchContainer">
      <div class="D_FilterSearchWrapper">
        <button class="D_CustomOrderBtn" (click)="C_openModal()">Order Custom Drink</button>
        <!-- Suchfeld für Getränkenamen -->
        <input
          type="text"
          placeholder="🔍 Search for a drink..."
          [(ngModel)]="searchQuery"
          (input)="D_searchDrinks()"
          class="D_SearchInput"
        />

        <!-- Dropdown für Zutatenfilter -->
        <select [(ngModel)]="selectedIngredient" (change)="D_filterDrinks()" class="D_FilterDropdown">
          <option value="">All Ingredients</option>
          <option *ngFor="let ingredient of D_getUniqueIngredients()" [value]="ingredient">{{ ingredient }}</option>
        </select>
      </div>
    </div>

    <!-- Getränkekarten -->
    <div class="D_DrinksContainer">
      <div class="D_Drink" (click)="G_openModal(drink)" *ngFor="let drink of filteredDrinks()">
        <div class="D_imgContainer">
          <img class="D_img" [src]="drink.img" [alt]="drink.name">
        </div>
        <p class="D_DrinkText">{{ drink.name }}</p>
      </div>
    </div>
  </div>
</div>
