<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Order Custom Drink Panel -->
<app-order-custom-drink-modal id="order-custom-drink-modal" (close)="closeModal($event)" [hidden]="displayedModal() != 'ODC'"></app-order-custom-drink-modal>

<!-- G_Modal - Order Drink Panel -->
<div *ngIf="G_isModalOpen()" class="G_modal" (click)="G_onOverlayClick($event)">
  <div class="G_modal-content">
    <span class="G_close" (click)="G_closeModal()">&times;</span>
    <div class="G_modal_bigbox">
      <div class="G_moadal_left">
        <div class="G_imagecontainer">
          <img [src]="G_selectedDrink().img" alt="Drink Image" class="G_drinkImage">
        </div>
        <h3 class="G_toppingsTitle">Toppings:</h3>
        <p class="G_Toppings">{{ G_selectedDrink().toppings }}</p>
      </div>
      <div class="G_moadal_right">
        <div class="G_drinkInfo">
          <h2 class="G_drinkName">{{ G_selectedDrink().name }}</h2>
          <ul class="G_ingredientsList" *ngFor="let drink of G_selectedDrink().drinkIngredients">
            <li > {{ drink.name }}</li>
          </ul>
        </div>
        <button class=" C_button C_buttonOrder G_orderbutton" (click)="Orderdrink()">Order</button>
      </div>
    </div>

    <!--<div class="G_drinkDetails">

      <div class="G_drinkInfo">
        <ul class="G_ingredientsList" *ngFor="let drink of G_selectedDrink().drinkIngredients">
          <li > {{ drink.name }}</li>
        </ul>
      </div>
      <button class=" C_button C_buttonOrder" >Order</button>
    </div>-->

  </div>
</div>
<!--Header resp-->
<div id="landing">
  <img alt="Leaves" src="assets/images/sideLeafsLeft.png" class="leaves">
  <img alt="Leaves" src="assets/images/sideLeafs.png" class="leaves">
  <img src="assets/images/H_Iconpng.png" alt="Stars" height="120" width="400" id="stars">
  <img alt="Drink" src="assets/images/DrinkImage.png" id="drink-showcase">
  <div id="landing-text">
    <div id="landing-title">
      Make your perfect<br>summer drinks<br> with Hula Swirl!
    </div>
    <div id="landing-subtitle">
      Mix it easy, mix it smart, mix it fast,<br> ideal for every moment
    </div>
    <div id="button-container">
      <button (click)="scrollToElement()" class="button" id="order-button">ORDER NOW</button>
      <button (click)="displayedModal.set('ODC')" class="button" id="order-custom-button">ORDER CUSTOM DRINK</button>
    </div>
  </div>
</div>

<div class="bodyBackground" #targetElement>
  <div class="backgroundWrapper"></div>
  <!--Karusell-->
  <p class="Lable K_Lable" >Our recommendations</p>
  <div class="K_KarusellContainer">
  <div class="K_carousel">
    <button class="K_arrow left" (click)="K_prevSlide()" [disabled]="K_isPrevDisabled()" [class.disabled]="K_isPrevDisabled()">&#8249;</button>
    <div class="K_carousel-track">
      <div class="K_carousel-item" (click)="G_openModal(drink)" *ngFor="let drink of K_bestDrinks(); let i = index" [class.center]="K_getSlidePosition(i) === 'center'" [class.side]="K_getSlidePosition(i) === 'side'" [class.hidden]="K_getSlidePosition(i) === 'hidden'">
        <img [src]="drink.img" [alt]="drink.name">
        <p>{{ drink.name }}</p>
      </div>
    </div>
    <button class="K_arrow right" (click)="K_nextSlide()" [disabled]="K_isNextDisabled()" [class.disabled]="K_isNextDisabled()">&#8250;</button>
  </div>
</div>


  <!--<img src="assets/images/Order_Custom_Drink_button.webp" class="O_Button">-->
  <br><br><br><br><br>
  <!--Alll Drinks-->
  <p class="Lable" >All Drinks</p>
  <div class="D_Container">
    <div class="D_DrinksFilterSearchContainer">
      <div class="D_FilterSearchWrapper">
        <button class="D_CustomOrderBtn" (click)="C_openModal()">Order Custom Drink</button>
        <!-- Suchfeld für Getränkenamen -->
        <input
          type="text"
          placeholder="🔍 Search for a drink..."
          [(ngModel)]="searchQuery"
          (input)="D_searchDrinks()"
          class="D_SearchInput"
        />

        <!-- Dropdown für Zutatenfilter -->
        <select [(ngModel)]="selectedIngredient" (change)="D_filterDrinks()" class="D_FilterDropdown">
          <option value="">All Ingredients</option>
          <option *ngFor="let ingredient of D_getUniqueIngredients()" [value]="ingredient">{{ ingredient }}</option>
        </select>
      </div>
    </div>

    <!-- Getränkekarten -->
    <div class="D_DrinksContainer">
      <div class="D_Drink" (click)="G_openModal(drink)" *ngFor="let drink of filteredDrinks()">
        <div class="D_imgContainer">
          <img class="D_img" [src]="drink.img" [alt]="drink.name">
        </div>
        <p class="D_DrinkText">{{ drink.name }}</p>
      </div>
    </div>
  </div>
</div>
