:root {
  --primary-color: #2c3e50;
}

#landing {
  width: 100%;
  background: linear-gradient(180deg, rgba(22,85,111,1) 0%, rgba(60,148,148,1) 53%, rgba(85,206,180,1) 67%, rgba(248,210,127,1) 81%, rgba(248,210,127,1) 84%, rgba(242,145,99,1) 90%, rgba(239,109,89,1) 96%);
  filter: drop-shadow(0px 0px 5px rgba(47, 10, 10, 0.69)) saturate(110%);
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
  height: 70vh;
}

#drink-showcase {

  z-index: -1;
  height: 85%;
}

.leaves {
  position: absolute;
  height: 100%;
  z-index: 0;
  right: 0;
  filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.42));
}




.bgVideo {

  object-fit: cover;
  z-index: 0;
  background-color: rgb(44, 97, 121); /* optional fallback */
  background-size: contain;
  width: 100%;
  height: 350px;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 0;
  mix-blend-mode: lighten; /* oder 'screen', je nach Effekt */
  background-color: #00FF00; /* der Greenscreen aus deinem Video */
  pointer-events: none;
}



.leaves:first-child {
  left: 0;
}

#landing-text {
  margin: 3% 0 0 10px;
}

#landing-text > * {
  color:#fefde6;
  filter: drop-shadow(0px 0px 5px rgba(10, 17, 47, 0.75));
  line-height: 1.2;
}

#landing-title {
  font-size: 50px;
  margin-left: 10px;
  font-weight: bold;
}

#landing-subtitle {
  font-size: 25px;
  margin-top: 24px;
  font-weight: lighter;
}

#button-container {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.button{
  border-radius: 100px;
  border: 3px solid var(--order-btn-bg);
  padding: 15px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.01));
}

#order-button {
  color:var(--order-btn-bg);
}

#order-custom-button {
  background: var(--order-btn-bg);

}
#order-custom-button:hover{
  filter: brightness(120%) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.13));
  transform: scale(1.05);
}

@media screen and (max-width: 830px) {
  #drink-showcase {
    display: none;
  }

  .leaves:first-child {
    left: calc(-200px + 20%);
  }

  .leaves {
    right: calc(-200px + 20%);
  }

  #landing {
    justify-content: center;
    padding: 50px 0;
  }

  #landing-text {
    text-align: center;
    scale: 0.9 !important;
  }

  #button-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1440px) {
  .leaves:first-child {
    left: calc(-200px + 12%);
  }

  .leaves {
    right: calc(-200px + 12%);
  }

  #landing-text, #drink-showcase {
    scale: 0.95;
  }

  #landing {
    gap: 0;
  }
}

.bodyBackground {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#recommendations, #all-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slide-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#slide-track {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-track-arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  filter: drop-shadow(5px 5px 3px rgba(68, 47, 36, 0.32));
  font-weight: bold;
}
.drink-card.slide-neighbour {
  opacity: 0.8;
  transform: scale(0.9);
  z-index: 2;
}
.drink-card.slide-neighbour:hover{
  transform: scale(93%);
}

@media screen and (max-width: 1000px) {
  #slide-container {
    scale: 0.9;
  }
}
@media screen and (max-width: 900px) {
  #slide-container {
    scale: 1;
  }
  .drink-card.slide-neighbour {
    display: none;
  }
}

#arrow-left {
  left: -40px;
}
#arrow-right {
  right: -40px;
}
.slide-track-arrow:disabled {
  color: var(--element-primary-outline);
  cursor: not-allowed;
}

#filtered-drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
