.background-edges {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.edge {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 0;
  background-repeat: repeat-y;
  filter: drop-shadow(0px 15px 4px rgba(30, 69, 8, 0.29));
}

.edge-left {
  left: 0;
  background-image: url('/assets/images/background_left.gif');
  background-position: top left;
}

.edge-right {
  right: 0;
  background-image: url('/assets/images/background_right.gif');
  background-position: top right;
}

.edge-left.lowEnd {
  background-image: url('/assets/images/background_left.png') !important;
}

.edge-right.lowEnd {
  background-image: url('/assets/images/background_right.png') !important;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
}

@media screen and (max-width: 475px) {
  .edge {
    width: 200px;
  }

  .edge-left {
    left: calc(-80px + 6%) !important;
    background-position: top right !important;
  }
  .edge-right {
    right: calc(-80px + 6%) !important;
    background-position: top left !important;
  }
}
