.background-edges {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("/assets/images/leaves.gif");
  background-repeat: repeat-x;         /* horizontal wiederholen */
  background-position: top center;     /* oben ausrichten */
  background-size: cover;

  filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.29));

  .edge {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
    background-repeat: repeat-y;
    filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.29));
  }
/*
  .edge-left {
    left: 0;
    background-image: url('/assets/images/background_left.png');
    background-position: top left;
  }

  .edge-right {
    right: 0;
    background-image: url('/assets/images/background_right.png');
    background-position: top right;
  }*/

  .content {
    position: relative;
    z-index: 1;
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .edge-left {
    left: calc(-100px + 6%) !important;
  }
  .edge-right {
    right: calc(-100px + 6%) !important;
  }
}
