<div class="orders" *ngIf="orders().length; else noOrders">
  <div class="order-card" *ngFor="let o of orders()">
    <h3>{{ o.drinkName }}</h3>
    <p class="meta">
      By <strong>{{ o.user }}</strong> –
      <small>{{ o.orderDate | date:'short' }}</small>
    </p>
    <ul>
      <li *ngFor="let i of o.orderIngredients">
        {{ i.ingredientName }} – {{ i.amount }} ml
      </li>
    </ul>
    <div class="actions">
      <button  (click)="confirm(o.id)">Mix</button>
      <button  (click)="cancel(o.id)">Discard</button>
    </div>
  </div>
</div>

<ng-template #noOrders>
  <h3>There aren't any orders yet</h3>
</ng-template>
