#drink-overview {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
  #drink-overview {
    flex-direction: column;
    max-height: 100%;
  }
  .modal-image {
    align-self: center;
  }
}

h1, h3, h4, p:not(.error) {
  margin: 0;
  color: var(--heavy-font-color);
}

h1 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p:not(.error) {
  margin-top: 5px;
  font-size: 1.1rem;
  max-width: 400px;
  overflow-wrap: break-word;
}

.modal-image {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#modal-ingredient-list {
  max-height: 265px;
  min-width: 180px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2rem;
  overflow-y: auto;
}

ul li {
  margin: 5px 0;
}

ul li::before {
  margin-right: 0.4rem;
}

ul li:nth-child(6n+1)::before {
  content: "🍍";
}

ul li:nth-child(6n+2)::before {
  content: "🥥";
}

ul li:nth-child(6n+3)::before {
  content: "🌴";
}

ul li:nth-child(6n+4)::before {
  content: "🐚";
}

ul li:nth-child(6n+5)::before {
  content: "🐠";
}

ul li:nth-child(6n+6)::before {
  content: "🦩";
}

[modal-buttons] {
  display: flex;
  justify-content: end;
}
