[modal-body] {
  width: 100%;
  color: var(--heavy-font-color);
}

.order-drink-modal #drink-overview {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  max-width: 700px;
}

.order-drink-modal h3,
.order-drink-modal h4,
.order-drink-modal p:not(.error) {
  margin: 0;
  color: var(--heavy-font-color);
}

.order-drink-modal h3 {
  font-size: 1.5rem;
}

.order-drink-modal h4 {
  font-size: 1.2rem;
}

.order-drink-modal p:not(.error) {
  margin-top: 5px;
  font-size: 1.1rem;
  max-width: 400px;
  overflow-wrap: break-word;
}

.order-drink-modal .modal-image {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-drink-modal .modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-drink-modal #modal-ingredient-list {
  min-width: 180px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-drink-modal #modal-ingredient-list small {
  margin-top: 5px;
}

.order-drink-modal .checkbox-container label {
  font-size: 1.2rem;
}

.order-drink-modal #modal-ingredient-list ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.1rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.order-drink-modal #modal-ingredient-list ul li {
  background-color: var(--body-bg);
  border: 1px solid #ead7bc;
  border-radius: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.order-drink-modal #modal-ingredient-list ul li::before {
  margin-right: 0.4rem;
}

.order-drink-modal #modal-ingredient-list ul li:nth-child(6n+1)::before {
  content: "🍍";
}

.order-drink-modal #modal-ingredient-list ul li:nth-child(6n+2)::before {
  content: "🥥";
}

.order-drink-modal #modal-ingredient-list ul li:nth-child(6n+3)::before {
  content: "🌴";
}

.order-drink-modal #modal-ingredient-list ul li:nth-child(6n+4)::before {
  content: "🐚";
}

.order-drink-modal #modal-ingredient-list ul li:nth-child(6n+5)::before {
  content: "🐠";
}

.order-drink-modal #modal-ingredient-list ul li:nth-child(6n+6)::before {
  content: "🦩";
}

.order-drink-modal #modal-ingredient-list ul li:has(#containsIce)::before {
  content: "🧊";
}
.order-drink-modal #modal-ingredient-list ul label {
  font-size: 1.1rem;
}

.order-drink-modal #toppings {
  margin-top: 15px;
}

[modal-buttons] {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 770px) {
  .order-drink-modal #modal-ingredient-list ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .order-drink-modal #modal-ingredient-list ul li {
    flex: 1;
    margin-right: 5px;
  }
}

@media screen and (max-width: 650px) {
  .order-drink-modal #drink-overview {
    flex-direction: column;
    max-height: 100%;
  }

  .order-drink-modal .modal-image {
    align-self: center;
  }
}
