<app-generic-modal title="{{selectedDrink()?.name}}" (closed)="closeModal()">
  <div modal-body>
    <div id="drink-overview">
      @if (selectedDrink()?.imgUrl) {
        <div class="modal-image">
          <img [src]="selectedDrink()!.imgUrl" alt="Drink Image" class="drink-image" />
        </div>
      }
      <div id="modal-ingredient-list">
        <div class="section-header">
          <h3>Ingredients</h3>
          <span class="pill">Measured in ml</span>
        </div>
        <ul class="ingredient-list">
          @for (drink of selectedDrink()?.drinkIngredients; track drink) {
            <li class="ingredient-item">
              <span class="ingredient-amount">{{drink.amount}} ml</span>
              <span class="ingredient-name">{{drink.ingredientName}}</span>
            </li>
          }
        </ul>
        <div class="ice-toggle checkbox-container" (click)="containsIce.set(!containsIce())">
          <input type="checkbox" [(ngModel)]="containsIce" id="containsIce">
          <label for="containsIce">Add ice</label>
        </div>
      </div>
    </div>
    @if(selectedDrink()?.toppings) {
      <div id="toppings">
        <h4>Toppings</h4>
        <p>{{selectedDrink()!.toppings}}</p>
      </div>
    }
  </div>
  <div modal-footer>
    <p class="error global-error">{{ globalError() }}</p>
  </div>
  <div modal-buttons>
    <button class="button secondary-btn" (click)="closeModal()">Cancel</button>
    <button class="button submit-btn" (click)="submitOrder()">Order Drink</button>
  </div>
</app-generic-modal>
