
#ingredient-list {
  max-height: 220px;
  overflow-y: auto;
}

#ingredient-list .order-ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--ingredient-bg-color);
  color: var(--primary-font-color);
}

.order-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


#ingredient-list .order-ingredient.selected {
  background-color: var(--form-input-bg-yellow);
}

.ingredient-check {
  margin-right: 10px;
}

.order-ingredient-details {
  display: flex;
  flex-direction: column;
}

.order-ingredient-status {
  margin: 0;
  color: red;
  font-size: 14px;
  font-weight: lighter;
}

.ingredient-properties {
  display: flex;
  margin: 7px 0;
  gap: 5px;
  align-items: center;
}

.order-ingredient-amount {
  width: 25px;
  text-align: end;
}

@media (max-width: 768px) {
  .order-buttons {
    flex-direction: column;
  }
}
