.modal-frame {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  background-color: var(--popup-bg);
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 0 10px 3px rgb(64, 64, 64);
}

.modal-head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--primary-font-color);
}

.modal-head h1 {
  margin: 0;
}

.close-modal-button {
  font-size: 24px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 24px;
  transition: 0.3s transform ease;
  margin: -7px -7px 0 0;
}

.order-ingredient-delete {
  transition: 0.3s transform ease;
  margin-left: auto;
}

.close-modal-button:hover, .order-ingredient-delete:hover {
  cursor: pointer;
  transform: rotate(10deg);
}

.modal-body {
  margin: 20px 0;
  max-height: 300px;
  overflow-y: auto;
}

#add-order-ingredient {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 10px 0;
}

#order-ingredient-amount, .order-ingredient-amount {
  width: 25px;
  text-align: end;
}

#order-ingredient-add {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.order-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.order-ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--ingredient-bg-color);
  color: var(--primary-font-color);
}

.order-ingredient-details {
  display: flex;
  flex-direction: column;
}

.order-ingredient-status {
  margin: 0;
  color: red;
  font-size: 14px;
  font-weight: lighter;
}

.ingredient-properties {
  display: flex;
  margin: 7px 0;
  gap: 5px;
  align-items: center;
}

#order-ingredient-select {
  min-width: 150px;
}

#order-ingredient-add {
  background-color: #fdfded;
  color: var(--primary-font-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#order-ingredient-add:hover {
  scale: 1.1;
}
