<div id="D_Container">
  <div id="D_DrinksFilterSearchContainer">
    <div id="D_FilterSearchWrapper">
      <input
        type="text"
        placeholder="🔍 Search for a drink..."
        [(ngModel)]="searchQuery"
        (input)="D_searchDrinks()"
        id="D_SearchInput"
      />
      <select [(ngModel)]="selectedIngredient" (change)="D_filterDrinks()" id="D_FilterDropdown">
        <option value="">All Ingredients</option>
        <option *ngFor="let ingredient of D_getUniqueIngredients()" [value]="ingredient">
          {{ ingredient }}
        </option>
      </select>
      <button class="button submit-btn" (click)="openModal(ModalType.AD)">Add Drink</button>
    </div>
  </div>

  <div id="D_DrinksContainer">
    <!-- Available Drinks -->
    <h2>Available Drinks</h2>
    <div id="D_AvailableDrinks" class="D_DrinksContainer">
      @for (drink of filteredDrinks(); track $index){
        <div *ngIf="drink.available" class="D_Drink" (click)="openModal(ModalType.ED,drink)">
          <div class="D_imgContainer">
            <img class="D_img" [src]="drink.imgUrl" [alt]="drink.name">
          </div>
          <p class="D_DrinkText">{{ drink.name }}</p>
        </div>
      }
    </div>

    <!-- Hidden Drinks -->
    <h2>Hidden Drinks</h2>
    <div id="D_HiddenDrinks" class="D_DrinksContainer">
      @for (drink of filteredDrinks(); track $index){
        <div class="D_Drink" (click)="openModal(ModalType.ED,drink)">
          <div class="D_imgContainer">
            <img class="D_img" [src]="drink.imgUrl" [alt]="drink.name">
          </div>
          <p class="D_DrinkText">{{ drink.name }}</p>
        </div>
      }
    </div>

    <!-- Not Available Drinks -->
    <h2>Not Available Drinks</h2>
    <div id="D_NotAvailableDrinks" class="D_DrinksContainer">
      @for (drink of filteredDrinks(); track $index){
        <div *ngIf="!drink.available" class="D_Drink" (click)="openModal(ModalType.ED,drink)">
          <div class="D_imgContainer">
            <img class="D_img" [src]="drink.imgUrl" [alt]="drink.name">
          </div>
          <p class="D_DrinkText">{{ drink.name }}</p>
        </div>
      }
    </div>
  </div>
</div>
