<div id="drinks-admin">
  <div class="filter-section">
    <div class="drink-filter-container">
      <input
        type="text"
        placeholder="🔍 Search for a drink..."
        [(ngModel)]="searchQuery"
        (input)="searchDrinks()"
      />
      <select [(ngModel)]="selectedIngredient" (change)="filterDrinks()">
        <option value="">All Ingredients</option>
        <option *ngFor="let ingredient of getUniqueIngredients()" [value]="ingredient">
          {{ ingredient }}
        </option>
      </select>
      <button class="button submit-btn" (click)="openModal(ModalType.AddDrink)">Add Drink</button>
    </div>
  </div>

  <div id="drinks-container">
    <!-- Available Drinks -->
    <h2>Available Drinks</h2>
    <div id="available-drinks" class="drinks-grid">
      @for (drink of filteredDrinks(); track $index){
        <div *ngIf="drink.available" class="drink-tile" (click)="openModal(ModalType.EditDrink,drink)">
          <div class="drink-image-container">
            @if (drink.imgUrl) {
              <img class="drink-image" [src]="drink.imgUrl" [alt]="drink.name">
            } @else {
              <p>No image available</p>
            }
          </div>
          <p class="drink-name">{{ drink.name }}</p>
        </div>
      }
    </div>

    <!-- Hidden Drinks
    <h2>Hidden Drinks</h2>
    <div id="hidden-drinks" class="drinks-grid">
      @for (drink of filteredDrinks(); track $index){
        <div class="drink-tile" (click)="openModal(ModalType.ED,drink)">
          <div class="drink-image-container">
            <img class="drink-image" [src]="drink.imgUrl" [alt]="drink.name">
          </div>
          <p class="drink-name">{{ drink.name }}</p>
        </div>
      }
    </div>
    -->

    <!-- Not Available Drinks -->
    <h2>Hidden Drinks</h2>
    <div id="not-available-drinks" class="drinks-grid">
      @for (drink of filteredDrinks(); track $index){
        <div *ngIf="!drink.available" class="drink-tile" (click)="openModal(ModalType.EditDrink,drink)">
          <div class="drink-image-container">
            <img class="drink-image" [src]="drink.imgUrl" [alt]="drink.name">
          </div>
          <p class="drink-name">{{ drink.name }}</p>
        </div>
      }
    </div>
  </div>
</div>
