#D_Container {
  width: 90%;
  min-height: 30vh;
  margin: 0 auto 4vw auto;
  max-width: 1200px;
}

#D_DrinksFilterSearchContainer {
  width: 95%;
  margin: 3vh auto;
}

#D_FilterSearchWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#D_SearchInput {
  width: 67%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(var(--form-input-bg), var(--form-input-bg)) padding-box,
  linear-gradient(to bottom right, #ea6b52, #f5d273) border-box;
  border-radius: 15px;
  border: 3px solid transparent;
  color: var(--primary-font-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#D_FilterDropdown {
  padding: 10px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: linear-gradient(#F6F6F6, #F6F6F6) padding-box,
  linear-gradient(to bottom right, #ea6b52, #f5d273) border-box;
  border-radius: 15px;
  border: 3px solid transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: var(--primary-font-color);
  padding: 1vw;
  font-size: 2.5vw;
  text-align: start;
  font-family: AdlamDisplay, serif;
  margin-top: 2vw;
  margin-bottom: 1vw;
  font-weight: lighter;
}

.D_DrinksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.9rem;
  justify-items: start;
}

.D_Drink {
  width: 180px;
  margin: 0;
  border-radius: 25px;
  background-color: var(--ingredient-bg-color);
  box-shadow: 0px 0px 8px rgba(53, 30, 15, 0.12);
  filter: drop-shadow(0px 0px 10px rgba(68, 47, 36, 0.07));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.D_Drink:hover {
  transform: scale(1.05);
}

.D_imgContainer {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background-color: transparent;
}

.D_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.D_DrinkText {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0.5rem 0;
  font-weight: bold;
}
