#drinks-page {
  width: 90%;
  margin: 0 auto 4vw auto;
}

#drink-controls {
  width: 95%;
  margin: 3vh auto;
}

.filter-search {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#drinks-section {
  text-align: center;
}

.drink-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9rem;
  justify-items: start;
}

.drink-card.manage {
  width: 180px;
  height: auto;
  margin: 0;
}

.drink-card.manage .drink-card-image-container {
  width: 100%;
  height: 180px;
}

.drink-name {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0.5rem 0;
  font-weight: bold;
}
