:root {
  --body-bg: #faeee1;
  --popup-bg: #f4e3cd;
  --container-bg-color: #9dc2d5;
  --ingredient-bg-color: #f4f3f2;
  --ingredient-quantity-bg-color: #f1e1c3;
  --element-primary-outline: #cacaca;
  --pump-active-slot-bg: #c3ffac;
  --pump-inactive-slot-bg: #ff9898;
  --cancel-btn-bg: #df6b6b;
  --submit-btn-bg: linear-gradient(90deg, rgb(255, 194, 108) 0%, rgb(255, 125, 114) 100%);
  --remaining-liquid-bar-bg: linear-gradient(90deg, #f65a5a 0%, #ffd15e 100%);
  --primary-font-color: #575757;
  --heavy-font-color: #3f3f3f;
  --form-input-bg: #f4f3f2;
}

body{
  margin:0;
  font-family: JosefinSans, serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor:default;
  background: #faeee1 url("/assets/images/background.png") center;
  background-size: cover;
}

/*
  background-image: url("/assets/images/background.png");
  height: 100%;
  width: 100%;
  filter: drop-shadow(10px 10px 5px rgba(68, 47, 36, 0.34));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Hintergrund bleibt unter dem Text */

body::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Katibeh';
  src: url('assets/fonts/Katibeh-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdlamDisplay';
  src: url('assets/fonts/ADLaMDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.button {
  background-color: #fdfded;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  filter:saturate(200%);
  height: 100%;
}

.button:hover {
  scale: calc(1.05);
}

.cancel-btn {
  background-color: var(--cancel-btn-bg);
  color: white;
}

.submit-btn {
  background: var(--submit-btn-bg);
  color: white;
  transition: 0.3s;
}

.form-input {
  background-color: var(--form-input-bg);
  border: 1px solid var(--element-primary-outline);
  border-radius: 5px;
  padding: 5px 10px;
  height: 100%;
  outline: none;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-input[type=number] {
  -moz-appearance: textfield;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#f65a5a 0%, #ffd15e 100%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d34b4b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c43a3a;
}

/* Modal */
.modal-frame {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  background-color: var(--popup-bg);
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 550px;
  width: 80%;
  box-shadow: 0 0 10px 3px rgb(64, 64, 64);
}

.modal-head {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--primary-font-color);
}

.modal-head h1 {
  margin: 0;
}

.close-modal-button {
  font-size: 24px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 24px;
  transition: 0.3s transform ease;
  margin: -7px -7px 0 0;
}

.close-modal-button:hover {
  cursor: pointer;
  transform: rotate(10deg);
}

.modal-body {
  margin: 20px 0;
  max-height: 300px;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
