:root {
  --body-bg: #faeee1;
  --nav-bg: #0e2d3e;
  --nav-overlay-bg: rgba(21, 60, 81, 0.65);
  --popup-bg: #f4e3cd;
  --link-color: #6091af;
  --ingredient-bg-color: #f4f3f2;
  --ingredient-quantity-bg-color: #f1e1c3;
  --ingredient-selected-bg-color: #eeffe4;
  --element-primary-outline: #cacaca;
  --active-bg: #c3ffac;
  --inactive-bg: #ff9898;
  --cancel-btn-bg: #df6b6b;
  --order-btn-bg: #fc5d5b;
  --sunset-gradient: linear-gradient(to bottom right, rgb(255, 194, 108) 0%, rgb(255, 125, 114) 100%);
  --sunrise-gradient: linear-gradient(to bottom right, #f65a5a 0%, #ffd15e 100%);
  --primary-font-color: #575757;
  --heavy-font-color: #3f3f3f;
  --form-input-bg-yellow: #fdfded;

  --default-font: 'JosefinSans';
  --primary-font: 'AdlamDisplay';
}

body{
  margin:0;
  font-family: var(--default-font), serif;
  background: var(--body-bg);
  color: var(--primary-font-color);
}

h1, h2, h3, h4 {
  font-family: var(--primary-font), serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p, span, label, input, textarea, select {
  color: var(--primary-font-color);
  font-family: var(--default-font), serif;
  font-size: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

body::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Katibeh';
  src: url('assets/fonts/Katibeh-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdlamDisplay';
  src: url('assets/fonts/ADLaMDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  padding: 20px 12%;
}

.button {
  background-color: #fdfded;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  filter:saturate(200%);
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:disabled {
  cursor: not-allowed;
  filter: saturate(100%);
}

.button:hover:not(:disabled) {
  scale: 1.05;
}

.cancel-btn {
  background-color: var(--cancel-btn-bg);
}

.submit-btn {
  background: var(--sunset-gradient);
}

.checkbox-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.checkbox-container label {
  padding-top: 4px;
  cursor: pointer;
}

.checkbox-container input {
  appearance: none;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid var(--element-primary-outline);
  border-radius: 4px;
  background: #fff;
  margin: 0 8px 0 0;
  position: relative;
  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.checkbox-container input:checked:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid var(--primary-font-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: block;
}

.form-input {
  box-sizing: border-box;
  background-color: var(--form-input-bg-yellow);
  border: 1px solid var(--element-primary-outline);
  border-radius: 5px;
  padding: 5px 10px;
  height: 100%;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-input[type=number] {
  -moz-appearance: textfield;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#f65a5a 0%, #ffd15e 100%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d34b4b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c43a3a;
}

/* Drink filter */
.filter-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.filter-container > * {
  box-sizing: border-box;
  height: 45px;
}

.filter-container button {
  font-weight: bold;
  border: none !important;
  border-radius: 20px;
}

.filter-container input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  background: linear-gradient(#F6F6F6, #F6F6F6) padding-box, var(--sunrise-gradient) border-box;
  border-radius: 15px;
  border: 3px solid transparent;
}

.filter-container select {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(#F6F6F6, #F6F6F6) padding-box,
  var(--sunrise-gradient) border-box;
  border-radius: 15px;
  border: 3px solid transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Drink card */
.drink-card {
  text-align: center;
  margin: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(#F6F6F6, #F6F6F6) padding-box,
  linear-gradient(to bottom right, #ea6b52 , #f5d273) border-box;
  border-radius: 15px;
  border: 4px solid transparent;
  filter: drop-shadow(0px 0px 10px rgba(68, 47, 36, 0.25)) saturate(110%);
  padding: 0;
  cursor: pointer;
}

.drink-card-image-container {
  width: 225px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink-card.hidden {
  display: none;
}
.drink-card:hover{
  transform: scale(103%);
}

.drink-card p:not(.drink-card-image-container > p) {
  font-weight: bold;
  color: var(--primary-font-color);
  max-width: 90%;
  word-wrap: break-word;
  text-align: center;
  white-space: normal;
  font-size: 20px;
}

.error {
  margin: 0;
  color: red !important;
  font-weight: lighter !important;
}

.field-error {
  font-size: 14px !important;
}

.global-error {
  font-size: 16px !important;
  margin: 0.5rem 0;
}

.identity {
  display: flex;
}

.identity > * {
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 4px 0;
}

.badge {
  border-radius: 3px;
  padding: 8px 5px 5px;
}

.system {
  color: #ffffff;
  background: #000000;
}

.admin {
  color: #8c3131;
  background: #ffa1a1;
}

.operator {
  color: #458c31;
  background: #caffb8;
}

.user {
  color: #4c4ca5;
  background: #ceceff;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 20px 5%;
  }

  .drink-card-image-container {
    width: 150px;
    height: 150px;
  }

  .drink-card p:not(.drink-card-image-container > p) {
    font-size: 16px;
  }
}
