<div class="box_container">
  <div class="big_box left_box" id="1">
    <p class="box_title">Available Ingredients:</p>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="availableIngredients"
      [cdkDropListConnectedTo]="[doneList]"
      class="ingredients_container"
      (cdkDropListDropped)="drop($event)">
      @for (item of availableIngredients; track item) {
        <div class="ingredient A_Ingredient" cdkDrag>
          <div class="A_ingredient_function">
            <div class="A_slot">{{item.slot}}.</div>
            <div class="A_Name">{{item.name}}</div>
          </div>
          <div class="A_liqid A_Name">{{item.remaining_liquid}} cl  </div>
        </div>
      }
    </div>
  </div>
  <div class="big_box">
    <p class="box_title">Not available Ingredients:</p>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="notAvailableIngredients"
      [cdkDropListConnectedTo]="[todoList]"
      class="ingredients_container"
      (cdkDropListDropped)="drop($event)">
      @for (item of notAvailableIngredients; track item) {
        <div class="ingredient NA_Ingredient" cdkDrag>{{item.name}}</div>
      }
    </div>

  </div>
</div>
