<!--
<div *ngIf="G_isModalOpen()" class="G_modal" (click)="G_onOverlayClick($event)">
  <div class="G_modal-content">
    <span class="G_close" (click)="G_closeModal()">&times;</span>
    <div class="G_modal_bigbox">
      <div class="G_moadal_left">
        <div class="G_imagecontainer">
          <img [src]="G_selectedDrink().img" alt="Drink Image" class="G_drinkImage">
        </div>
        <h3 class="G_toppingsTitle">Toppings:</h3>
        <p class="G_Toppings">{{ G_selectedDrink().toppings }}</p>
      </div>
      <div class="G_moadal_right">
        <div class="G_drinkInfo">
          <h2 class="G_drinkName">{{ G_selectedDrink().name }}</h2>
          <ul class="G_ingredientsList" *ngFor="let drink of G_selectedDrink().drinkIngredients">
            <li > {{ drink.name }}</li>
          </ul>
        </div>
        <button class=" C_button C_buttonOrder G_orderbutton" (click)="Orderdrink()">Order</button>
      </div>
    </div>
  </div>
</div>
-->
